.PageProjet {
  min-height: 100vh;
  margin: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.ProjetList {
  display: grid;
  margin: 2%;
  grid-gap: 10px;
  width: 60%;
}
.one {
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 3;
  grid-row: 2;
}
.three {
  grid-column: 1;
  grid-row: 3;
}

.PageProjet .theme {
  margin-top: -40%;
}

.PageProjet .links {
  margin-top: -5%;
}

.ContainerP {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  background-color: rgba(76, 36, 157, 0.351);
}

.DescriptionP {
  grid-row: 1;
}

.ContainerP img {
  width: 200px;
}
