.home {
  height: 1200px;
  margin: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.presentation {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.theme {
  display: flex;
}
